<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeanboy.component.permission">

    <application>
        <activity
            android:name=".ui.RequestActivity"
            android:configChanges="screenLayout|orientation|screenSize"
            android:launchMode="singleInstance"
            android:theme="@style/TranslucentNoAnimation" />
    </application>

</manifest>